*{
  box-sizing:border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

div.grid1{
  border:solid 5px black;
  width:fit-content;
  padding:10px;
  text-align:center;
  box-shadow: 5px 10px #8888886D;
}

div.grid2{
  display:flex;
  gap: 10px;
  justify-content:center;
  text-align:left;
}

div.contact{
  display:flex;
  gap: 20px;
  justify-content:center;
  font-family: "IBM Plex Mono", serif;
  
}

a{
  color:black
}

p {
   font-family: "IBM Plex Mono", serif;
}

h2 {
   font-family: "IBM Plex Mono", serif;
}

h3 {
   font-family: "IBM Plex Mono", serif;
}